<html ng-app="myApp">
    <head> 
        <script src="angular.min.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-controller="myController">
        <div>
            <input type="text" ng-model="foodname" ng-blur="toCap();"></input>
        <div>
            <button ng-click="photoChange()"> Feed Me to change the picture</button>
            <img ng-src="{{photochange}}-sachin.png width=300 height=300">
        </div>
        </div>
    </body>
    <footer></footer>
</html>